<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include("./partials/header.ejs") %>

        <title>Blogify | <%= title %></title>
    </head>

    <body>
        <%- include("./partials/nav.ejs") %>


        <% if (locals.blog) { %>
        <div class="p-5">
            <form action="/blog/update_blog/<%= blog._id %>" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputTitle" class="form-label">Title</label>
                    <input name="title" value="<%= blog.title %>" type="text" class="form-control"
                        id="exampleInputTitle" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputBody" class="form-label">Content</label>
                    <textarea name="body" value="<%= blog.body %>" type="text" class="form-control"
                        id="exampleInputBody" aria-describedby="emailHelp"><%= blog.body %></textarea>

                </div>
                <div class="mb-3">
                    <label for="exampleInputImage" class="form-label">Image</label>
                    <input name="image" type="file" class="form-control" id="exampleInputImage">
                    <% if (blog.coverImageURL) { %>
                    <img src="../uploads/<%= blog.coverImageURL %>" alt="Current Image"
                        style="width: 100px; margin-top: 10px;">
                    <% } %>
                </div>

                <button type="submit" class="btn btn-success">Update Blog</button>
            </form>
        </div>
        <% } else { %>
        <div class="p-5">
            <form action="/blog/create_blog" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputTitle" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="exampleInputTitle"
                        aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputBody" class="form-label">Content</label>
                    <textarea name="body" type="text" class="form-control" id="exampleInputBody"
                        aria-describedby="emailHelp"></textarea>

                </div>
                <div class="mb-3">
                    <label for="exampleInputImage" class="form-label">Image</label>
                    <input name="image" type="file" class="form-control" id="exampleInputImage">
                </div>

                <button type="submit" class="btn btn-primary">Add Blog</button>
            </form>
        </div>
        <% } %>

        <%- include("./partials/footer.ejs") %>
    </body>

</html>