<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include("./partials/header.ejs") %>

        <title>Blogify | <%= title %></title>
    </head>

    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="container row row-cols-2 px-4 py-2 gap-4">
            <% if (locals.blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
            <div class="card col col-lg-4" style="width: 18rem;">
                <img src="../uploads/<%= blog.coverImageURL %>" class="card-img-top" alt="<%= blog.title %>">
                <div class="card-body">
                    <p class="card-title"><%= blog.title %></p>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <p>No Blog Yet!</p>
            <% } %>
        </div>


        <%- include("./partials/footer.ejs") %>
    </body>

</html>